svg {
  max-width: 100%;
}

nav .brand-logo {
  color: inherit;
}

nav ul a {
  color: inherit;
}

nav a {
  color: inherit;
}

.center-the-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2.5rem !important;
  text-shadow: rgba(#000, 0.6) 0 0 2px;
  transform: translate(-50%, -50%);
}

svg {
  stroke: #fff !important;
  color: #fff;
  a:visited {
    stroke: #fff !important;
    color: #fff;
    text {
      stroke: #fff !important;
      fill: #fff;
    }
  }
}

.main-carousel {
  min-height: 800px !important;
  max-height: 800px !important;
  @media only screen and (max-width: 600px) {
    min-height: 270px !important;
    max-height: 270px !important;
  }
}

.tour-carousel {
  min-height: 600px !important;
  max-height: 600px !important;
  @media only screen and (max-width: 600px) {
    min-height: 270px !important;
    max-height: 270px !important;
  }
}

.carousel-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
